[Unit]
Description=clean-up old pacman pkg

[Timer]
OnCalendar=monthly
Persistant=true

[Install]
WantedBy=multi-user.target

# enable and start the service
# sudo systemctl enable paccache.timer && sudo systemctl start paccache.timer
